
/* タブレット向けレイアウト width:700～1000PX以下*/
@media (max-width: 1000px) {
  h1{
    color: blue;
  }
  .container {
    width: 100%;
  }
}

/* スマホ向けレイアウト width:700px以下*/
@media (max-width: 700px) {
  h1{
    color: navy;
  }
  .container {
    width: 100%;
  }
}
