
/* 切削条件の計算 */

h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul{
    margin-top: 5px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn{
    margin-top: 10px;
    margin-bottom: 30px;
}

.container{
    margin-left: 10px;
}




